<nav>
        <div class="container">
           <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">DAVA</a>
                  <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn"href="#!">login</a></li>
                    <li><a class="waves-effect waves-light btn"href="#!">signup </a></li>
                  </ul>
          </div>
        </div>
      </nav>