<nav class="grey darken-3">
  <div class="container">
    <%if(userU){%>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Digital Assimilation and Virtual Assistant</a>
      <ul class="right hide-on-med-and-down">

        <%= userU.organisation %>
        <li><a class="waves-effect waves-light btn blue-grey lighten-3" href="/logout">logout</a></li>
        <li><a class="waves-effect waves-light btn blue-grey lighten-3" href="signup">signup </a></li>
      </ul>
    </div>
    <%}else{%>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">DAVA</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn blue-grey lighten-3" href="/login">login</a></li>
        <li><a class="waves-effect waves-light btn blue-grey lighten-3" href="/signup">signup </a></li>
      </ul>
    </div>
    <%}%>
  </div>
</nav>