<nav class="grey darken-3">
        <div class="container">
            <%if(userU){%>
           <div class="nav-wrapper">
                  <a href="/" class="brand-logo">DAVA</a>
                  <ul class="right hide-on-med-and-down">
                      
                    <li><a class="waves-effect waves-light btn blue-grey darken-1"href="/logout">logout</a></li>
                    <li><a class="waves-effect waves-light btn blue-grey darken-1"href="signup">signup </a></li>
                    <li><a href="#" class="brand-logo flow-text white-text"><%= userU.organisation %></a></li>
                  </ul>
            
          </div>
          <%}else{%>
          <div class="nav-wrapper">
              <a href="#!" class="brand-logo">DAVA</a>
              <ul class="right hide-on-med-and-down">
                  <li><a class="waves-effect waves-light btn blue-grey darken-1"href="/login">login</a></li>
                <li><a class="waves-effect waves-light btn blue-grey darken-1"href="/signup">signup </a></li>
                <li><a href="#" class="brand-logo flow-text blue-grey-text darken-1"><%= userU.organisation %></a></li>
              </ul>
              
      </div>
      <%}%>
        </div>
      </nav>