<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Document</title>
</head>
<body>

<nav>

</nav>

<main>
  
    <div class="row">
        <div class="col s12 m8">
                <h3>
                    All Admitted Patient
                </h3>

                <div class="row">
                    <%organisationD2.forEach(function(organisationD3){%>
                    <div class="col s12 m6">
             
          <div class="card">
            <div class="card-content">
                            <span class="card-title">
                               <%= organisationD3.namep%>
                            </span>
                Guardian Name: <%= organisationD3.guardianname%>
                <br>
                Phone Number: <%= organisationD3.phonenumberg%>
                <br>
                Critical: <%= organisationD3.critical%>
            </div>
            <div class="card-action">
                <a href="#">Discharge</a>
            </div>
            
        </div>
      </div>
      <%})%> 
          
                
            </div>
        </div>
        <div class="col s12 m4">

            <h3>
                Mark YourSelf
            </h3>
            <button class="btn btn-large red white-text btn-flat">We Are UnSafe</button>
            <button class="btn btn-large green white-text btn-flat">We Are Safe</button>
            <hr>
            <!--card-->
            <div class="card">
                <div class="card-content">
                                <span class="card-title">
                                     Admit New patient
                                </span>
                    <div class="row">
                        <form class="col s12" action="/org" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="namep" class="validate">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="g_name" type="text" name="guardianname" class="validate">
                                    <label for="g_name">Guardian Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="phone" type="text" name="phonenumberg" class="validate">
                                    <label for="phone">Phone Number</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="state" type="text" name="condition" class="validate">
                                    <label for="state">General Medical Condition</label>
                                </div>
                                <div class="col s12">
                                    Critical:
                                    <label>
                                        <input name="critical" type="radio" name="critical" checked/>
                                        <span>yes</span>
                                    </label>
                                    <label>
                                        <input name="critical" type="radio" name="critical" checked/>
                                        <span>no</span>
                                    </label>
                                    <br>
                                    <br>
                                </div>
                                <div class="col s12">
                                    <button class="btn btn-flat btn-large blue white-text">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>
    
  
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>