<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        #xyz{
            height: calc(100vh - 90px);
            overflow: scroll;
        }
    </style>

    <title>Document</title>
	
</head>
<body>

        <% include header.ejs %>

<main>
  
    <div class="row">
        <div class="col s12 m8" id="xyz">
                <h3>
                    All Admitted Patient
                </h3>

				<table>
				<thead>
				  <tr>
					  <th>Name</th>
					  <th>Guadian Name</th>
					  <th>Phone No.</th>
					  <th>Critical</th>
				  </tr>
				</thead>

				<tbody>
				<%organisationD2.forEach(function(organisationD3){%>
				  <tr>
					<td><%= organisationD3.namep%></td>
					<td><%= organisationD3.guardianname%></td>
					<td><%= organisationD3.phonenumberg%></td>
					<td><%= organisationD3.critical%></td>
				  </tr>
				 <%})%> 
				</tbody>
				</table>
        </div>
        <div class="col s12 m4">

            <h3>
                Mark YourSelf
            </h3>
            <button class="btn btn-large red accent-2 white-text btn-flat" style="border-radius:10px">We Are UnSafe</button>
            <button class="btn btn-large teal accent-3 white-text btn-flat"style="border-radius:10px">We Are Safe</button>
            <hr>
            <!--card-->
            <div class="card">
                <div class="card-content">
                                <span class="card-title">
                                     Admit New patient
                                </span>
                    <div class="row">
                        <form class="col s12" action="/org" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="namep" class="validate">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="g_name" type="text" name="guardianname" class="validate">
                                    <label for="g_name">Guardian Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="phone" type="text" name="phonenumberg" class="validate">
                                    <label for="phone">Phone Number</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="state" type="text" name="condition" class="validate">
                                    <label for="state">General Medical Condition</label>
                                </div>
                                <div class="col s12">
                                    Critical:
                                    <label>
                                        <input name="critical" type="radio" value="yes" name="critical" checked/>
                                        <span>yes</span>
                                    </label>
                                    <label>
                                        <input name="critical" type="radio" value="no" name="critical" checked/>
                                        <span>no</span>
                                    </label>
                                    <br>
                                    <br>
                                </div>
                                <div class="col s12">
                                    <button class="btn btn-flat btn-large blue white-text">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>
		</div>
  
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>