<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>-->

<!--<script>-->
    <!--// new google.maps.LatLng-->
    <!--function initMap() {-->
        <!--let start = new google.maps.LatLng(28.675566, 77.112836);-->

        <!--let end = [-->
            <!--new google.maps.LatLng(20.5566, 75.112836),-->
            <!--new google.maps.LatLng(24.6566, 71.112836),-->
            <!--new google.maps.LatLng(23.675566, 71.112836),-->
            <!--new google.maps.LatLng(26.675566, 77.112836)-->
        <!--];-->

        <!--let distance = [];-->

        <!--end.map((item, index) => {-->
            <!--distance.push(google.maps.geometry.spherical.computeDistanceBetween(item, start))-->
        <!--});-->

        <!--console.log(Math.min(distance));-->
    <!--}-->

<!--</script>-->


<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArIc5CsWpfhHO80jr1vhzCslESf0db97w&callback=initMap"></script>-->

<script>
    let rad = function(x) {
        return x * Math.PI / 180;
    };


    let getDistance = function(p1, p2) {
        let R = 6378137; // Earth’s mean radius in meter
        let dLat = rad(p2.lat - p1.lat);
        let dLong = rad(p2.lng - p1.lng);
        let a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) *
            Math.sin(dLong / 2) * Math.sin(dLong / 2);
        let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        let d = R * c;
        return d; // returns the distance in meter
    };

    let start = {
        lat: 28.675566,
        lng: 77.112836
    };

    let end = [
        {
            lat: 20.5566,
            lng: 75.112836
        },
        {
            lat: 24.6566,
            lng: 71.112836
        },
        {
            lat: 26.675566,
            lng: 77.112836
        }
    ];

    let distance = [];

    end.map(item => {
        distance.push(getDistance(start, item))
    });

    console.log(distance);

</script>
</body>
</html>
